/* styles.css */

/* Reset default styles */
body, h1, p, select, button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #555;
  margin-bottom: 10px;
}

select, button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button {
  background-color: #007bff;
  color: #fff;
}

button:hover {
  background-color: #0056b3;
}

#quiz-page, #result-page {
  display: none;
}

#quiz-page {
  text-align: center;
}

#question {
  font-size: 18px;
  margin-bottom: 20px;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-btn {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #007bff; /* Update border color */
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-btn:hover {
  background-color: #f0f0f0;
}

#timer {
  font-size: 16px;
  margin-top: 20px;
}

#result-page {
  text-align: center;
}

#score {
  font-size: 18px;
  margin-bottom: 20px;
}
